// fonts
$main-font: 'Roboto', sans-serif;

// Week 3 fonts
$font-three-Noto: 'Noto Sans', sans-serif;
$font-three-Arvo: 'Arvo', serif;


// Week 2 fonts
$font-two-Volk: 'Vollkorn', serif;
$font-two-OS: 'Open Sans', sans-serif;

// Week 1 fonts
$font-one-Unna: 'Unna', serif;
$font-one-Lato: 'Lato', sans-serif;

// colors
$color-main-dark: black;
$color-main-light: white;
$bkgd-color-main: #0C273D;

$bkgd-color-one: red;
$highlight-color-one: #303F9F;
